@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.imagemdiv {

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%)

}

.imagemimagem {
    padding-top: 20px;
    width: 650px;
    height: 150px;
}

.texto {
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: rgb(43, 57, 77);
    font-family: 'Bebas Neue', sans-serif;
    size: 100%;
    padding-top: 15px;
}

.texto2 {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: rgb(43, 57, 77);
    font-family: 'Bebas Neue', sans-serif;
    size: 30%;
    padding-bottom: 25px;
}
